<script setup lang="ts">
import NavMenu from "@/components/NavMenu.vue";
import Brand from "@/components/Brand.vue";
</script>

<template>
  <header class="flex gap-10">
    <div class="menu-icon-wrapper noselect">
      <i class="menu-icon"></i>
    </div>

    <Brand/>

    <NavMenu/>
  </header>
</template>

<style scoped lang="scss">

.menu-icon-wrapper {
  // display: block;
  // grid-area: menuicon;
  background-color: #000;
  // position: relative;
  // z-index: 10;
  // padding-top: 1em;
  .menu-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Hamburger%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2223px%22%20height%3D%2223px%22%20viewBox%3D%220%200%2023%2023%22%20style%3D%22enable-background%3Anew%200%200%2023%2023%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%223.6%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%2210%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3Crect%20x%3D%222.6%22%20y%3D%2216.3%22%20width%3D%2218%22%20height%3D%223%22%20fill%3D%22%23ffffff%22%2F%3E%0D%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: inline-block;
    height: 23px;
    text-indent: -9999px;
    width: 23px;
    opacity: 0.5;
  }
}
</style>
