<script setup lang="ts">
import MovieCard from "@/components/MovieCard.vue";
import { leavingFilms } from "../data/leavingFilms"
</script>

<template>
  <div class="home">
    <h1>Home</h1>

    <div>Description here</div>

    <ul>
      <MovieCard v-for="film in leavingFilms"
        :key="film.title"
        :film="film"
       />
    </ul>
  </div>
</template>