<script setup lang="ts"></script>

<template>
  <div class="brand-wrapper">
    <div class="brand">
      <div>Criterion</div>
      <div>Must</div>
      <div>Watch</div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .brand-wrapper {
    background-color: #000;
    // position: relative;
    // z-index: 10;    
    // display: flex;
    // justify-content: center;    
    .brand {
      // grid-area: brand;
      // display: inline-block;              
      text-transform: uppercase;
      font-size: .75em;
      font-style: normal;
      font-weight: 600;     
      line-height: 1;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // vertical-align: middle;
    }   
  }
</style>
