<script setup lang="ts">
import Leaving from '../types/films/Leaving';

const props = defineProps<{ film: Leaving }>()
</script>

<template>
  <li>
    <a :href="film.link">
      <img :src="film.image" :alt="film.link">
    </a>

    <div>
      <a :href="film.link">{{ film.title }}</a>
    </div>
  </li>
</template>