<script setup lang="ts"></script>

<template>
  <nav>
    <ul class="flex gap-10 uppercase">
      <li>
        <router-link class="text-white font-semibold text-sm" to="/">Leaving/Popular Now</router-link>
      </li>
      <li>
        <router-link class="text-white font-semibold text-sm" to="/about">Leaving/All Time Favorites</router-link>
      </li>
      <li><a class="text-white font-semibold text-sm" href="">Leaving With Tomatometer</a></li>
      <li><a class="text-white font-semibold text-sm" href="">criterionchannel.com</a></li>
    </ul>
  </nav>
</template>

<style scoped></style>